{{ define "main" }}
    <div class="container">
        <!--
        <div class="page-title" style="padding-bottom: 3px; margin-bottom: 3px;">
            <div class="line"></div>
            <div class="page-title-text">
                <div class="en"></div>
                <div class="ch">{{ .Title }}</div>
            </div>
        </div>
        -->
    </div>
    <!-- BEGIN FLIPBOOK STRUCTURE -->   
<div data-template="true" data-cat="book7" id="fb7-ajax" style="height: 90vh">  
  <div style="text-align:center;clear:both;">

</div>

         
    <!-- BEGIN HTML BOOK -->     
    <div data-current="book7" class="fb7" id="fb7">      
    
        <!-- preloader -->
        <div class="fb7-preloader">
            <div id="wBall_1" class="wBall">
            <div class="wInnerBall">
            </div>
            </div>
            <div id="wBall_2" class="wBall">
            <div class="wInnerBall">
            </div>
            </div>
            <div id="wBall_3" class="wBall">
            <div class="wInnerBall">
            </div>
            </div>
            <div id="wBall_4" class="wBall">
            <div class="wInnerBall">
            </div>
            </div>
            <div id="wBall_5" class="wBall">
            <div class="wInnerBall">
            </div>
            </div>
        </div>
              
        <!-- background for book -->  
        <div class="fb7-bcg-book"></div>               
      
        <!-- BEGIN CONTAINER BOOK -->
        <div id="fb7-container-book">
     
           <!-- BEGIN deep linking -->  
           <section id="fb7-deeplinking">
             <ul>
                {{ range $index, $element := .Params.images }}
                <li data-address="page{{ add $index 1 }}" data-page="{{ add $index 1 }}"></li>
                {{ end }}
                <li data-address="end" data-page="{{ add (len .Params.images) 1 }}"></li>  
             </ul>
           </section>
           <!-- END deep linking -->  
        
            
           <!-- BEGIN ABOUT -->
           <section id="fb7-about">
               <!--
                   <h1>Why choose <strong>FlipBook?</strong></h1>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu tellus ipsum,sit amet fermentum eros. Aliquam eget nulla neque, dignissim consectetur velit.Sed non metus sapien, nec laoreet ipsum.</p>
                   <h1>What is <strong>this</strong>?</h1>
                   <p>Ipsum <a href="javascript:youtube('48I0IHmsuOE','560','315')">Youtube</a> sit amet, consectetur adipiscing elit. Praesent eu tellus ipsum, sit amet fermentum eros. Aliquam eget nulla neque, dignissim consectetur velit. Sed non metus sapien, nec laoreet ipsum.</p>
                   <h1>Best <strong>features</strong></h1>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu tellus ipsum, sit amet fermentum eros. Aliquam eget nulla neque, dignissim consectetur velit. Sed non metus sapien, nec laoreet ipsum.</p>
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
               -->
           </section>
           <!-- END ABOUT -->
    
    
            <!-- BEGIN PAGES -->
            <div id="fb7-book">       
              
                    {{ range .Params.images }}
                    <!-- BEGIN PAGE 1 -->          
                    <div style="background-image:url('{{ .url }}')" class="fb7-noshadow">
                           
                         <!-- begin container page book --> 
                         <div class="fb7-cont-page-book">
                           
                            <!-- description for page --> 
                            <div class="fb7-page-book">
                        
                            </div>
                            
                            
                         </div>
                        <!-- end container page book --> 
                            
                    </div>
                    <!-- END PAGE 1 -->
                    {{ end }}

                    <!-- BEGIN PAGE 10 -->          
                    <div style="background-image:url()">
                           
                        <!-- begin container page book --> 
                        <div class="fb7-cont-page-book">
                          
                               <!-- description for page--> 
                               <div class="fb7-page-book">
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <p>&nbsp;</p>
                                   <h1 style="padding-left: 150px;">&nbsp;THE END</h1>                    
                               </div> 
                                   
                        </div>
                        <!-- end container page book -->
                           
                   </div>
                   <!-- END PAGE 10 -->
                      
                                  
           
            
            </div>
            <!-- END PAGES -->
                       
            
            <!-- arrows -->
            <a class="fb7-nav-arrow prev"></a>
            <a class="fb7-nav-arrow next"></a>
                    
            <!-- shadow -->
            <div class="fb7-shadow"></div>
    
        </div>
        <!-- END CONTAINER BOOK -->
    
        <!-- BEGIN FOOTER -->
        <div id="fb7-footer">
        
            <div class="fb7-bcg-tools"></div>
            
            <div class="fb7-menu" id="fb7-center">
                <ul>
                
                    <!-- margin left -->
                    <li></li>
                            
                    <!-- icon download -->
                    <!--
                    <li>
                        <a title="Pdf File Or Zip" class="fb7-download" href="img/file.pdf"></a>
                    </li>
                    -->
                                            
                    
                    <!-- icon_zoom_in -->                         
                    <li>
                        <a title="Zoom In" class="fb7-zoom-in"></a>
                    </li>
                                    
                    
                    <!-- icon_zoom_out -->                 
                    <li>
                        <a title="Zoom Out" class="fb7-zoom-out"></a>
                    </li>
                                    
                    
                    <!-- icon_zoom_auto -->
                    <li>
                        <a title="Zoom Auto" class="fb7-zoom-auto"></a>
                    </li>
                                    
                    
                    <!-- icon_zoom_original -->
                    <li>
                        <a title="Zoom Original (Scale 1:1)" class="fb7-zoom-original"></a>
                    </li>
                                     
                    
                    <!-- icon_allpages -->
                    
                    <li>
                        <a title="Show All Pages " class="fb7-show-all"></a>
                    </li>
                    
                                                    
                    
                    <!-- icon_home -->
                    <li>
                        <a title="Show Home Page" class="fb7-home"></a>
                    </li>
                                    
                    <!-- icon fullscreen -->                 
                    <li>
                        <a title="Full / Normal Screen" class="fb7-fullscreen"></a>
                    </li>
                            
                    <!-- margin right -->                 
                    <li></li>
                    
                </ul>
            </div>
            
            <div class="fb7-menu" id="fb7-right">
                <ul>                              
                    <!-- icon page manager -->   
                <!--              
                    <li class="fb7-goto">
                        <label for="fb7-page-number" id="fb7-label-page-number"></label>
                        <input type="text" id="fb7-page-number">
                        <button type="button">Go</button>
                    </li>
                -->
         
                </ul>
            </div>     
                
        </div>
        <!-- END FOOTER -->
    
        <!-- BEGIN THUMBS -->
        <div id="fb7-all-pages" class="fb7-overlay">
    
          <section class="fb7-container-pages">
    
            <div id="fb7-menu-holder">
    
                <ul id="fb7-slider">
                
                    {{ range $index, $element := .Params.images }}  
                    <li class="{{add $index 1}}">
                    <img alt="" src="{{ $element.url }}">
                    </li>
                    {{ end }}
                         
          
                </ul>
            
            </div>
    
        </section>
    
       </div>
        <!-- END THUMBS -->

   </div>
    <!-- END HTML BOOK -->    
    
    
</div>
<!-- END FLIPBOOK STRUCTURE --> 


<!-- CONFIGURATION FLIPBOOK -->    
<script>
jQuery('#fb7-ajax').data('config',
    {
		"page_width":"640",
		"page_height":"920",
		"go_to_page":"Page",
		"gotopage_width":"45",
		"zoom_double_click":"1",
		"zoom_step":"0.06",
		"tooltip_visible":"true",
		"toolbar_visible":"true",
		"deeplinking_enabled":"true",
		"double_click_enabled":"true",
		"rtl":"false"
     })
</script>
{{ end }}